:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  --border-radius-md: 5px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--very-dark-blue);
}

h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.input {
  font-family: "Raleway", sans-serif;
  border-radius: var(--border-radius-md);
  padding: 1.6rem;
}

.input::placeholder {
  color: var(--light-gray);
}

.input--blue {
  border: 1px solid var(--very-dark-blue);
}

.input--transparent {
  border: none;
}

.container {
  padding: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}

.illustration {
  width: 100%;
}

.curve {
  display: block;
  width: 100%;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  padding: 1.6rem;
}

.cta-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-inline: 2.4rem;
  padding-block-start: 2.4rem;
}

.logo {
  width: 10rem;
}

.header-nav {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  list-style: none;
}

.header-nav a {
  font-size: 1.4rem;
  color: var(--very-dark-blue);
  text-decoration: none;
}

.hero {
  padding-inline: 2.4rem;
  padding-block: 6.4rem;
}

.hero-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.hero__description {
  text-align: center;
}

.feature {
  padding-block: 6.4rem;
  padding-inline: 2.4rem;
  background-color: var(--light-grayish-blue);
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.feature-heading {
  font-size: 1.8rem;
}

.feature-text {
  color: var(--light-gray);
}

.btn-feature {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: var(--moderate-cyan);
  padding-bottom: 0.4rem;
  border-bottom: 1px solid var(--moderate-cyan);
}

.btn-feature span {
  display: flex;
  align-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  border-radius: var(--border-radius-md);
  background-color: #fff;
  padding: 2.4rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.testimonial-text {
  font-size: 1.2rem;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-box img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.user-name {
  font-size: 1.4rem;
  font-weight: 700;
}

.user-title {
  font-size: 1rem;
}

.cta {
  padding-block: 6.4rem;
  padding-inline: 2.4rem;
  background-color: var(--desaturated-blue);
}

.cta-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.cta-heading {
  color: var(--light-grayish-blue);
}

.cta-text {
  color: var(--light-grayish-blue);
}
